@import './utilities/colors.scss';

.not_found{
	composes: spnned from './utilities/settings.css';
	margin-top: 100px;
	padding: 0px 40px;
	composes: box_sizing from './utilities/settings.css';
}

.box_center{
	position: relative;
	float: none;
	clear: both;
	max-width: 640px;
	margin: 0px auto;
}

.box{
	composes: spnned from './utilities/settings.css';
	padding: 0px 30px;
	composes: box_sizing from './utilities/settings.css';
}

.code{
	composes: spnned from './utilities/settings.css';
	margin: 15px 0px 0px 0px;
	text-align: center;
	font-weight: 300;
	color: $secondary;
	composes: large_font from './utilities/settings.css';
	composes: lato from './utilities/settings.css';
}

.message{
	font-size: 1.3rem;
	text-align: center;
	font-weight: 300;
	color: $secondary;
	margin: 15px 0px 15px 0px;
	composes: spnned from './utilities/settings.css';
	composes: lato from './utilities/settings.css';
}

.links{
	margin: 15px 0px 30px 0px;
	text-align: center;
	composes: spnned from './utilities/settings.css';
}

.link_item{
	display: inline-block;
	padding: 0px 15px;
	text-decoration: none;
	font-weight: 300;
	composes: link_color from './utilities/settings.css';
	composes: lato from './utilities/settings.css';
}

.span_item{
	display: inline-block;
	padding: 0px 15px;
	composes: lato from './utilities/settings.css';
}