@import '../../../styles/utilities/variables.scss';

.quote{
	composes: box_sizing from '../../../styles/utilities/settings.css';
	composes: lato from '../../../styles/utilities/settings.css';
	position: relative;
	float: none;
	clear: both;
	margin: 100px auto 10px auto;
	padding: 0px 20px; 
	width: 480px;
	@media(max-width: '480px'){
		width: 100%;
		margin-top: 60px;
	}

	.body{
		font-weight: 300;
		font-size: 1em;
		margin-top: 0px;
		margin-bottom: 0px;
		text-align: center;
		color: $secondary;
		@media(max-width: '480px'){
			font-size: 0.8em;
		}
	}

	.author{
		font-weight:600;
		font-size: 1em;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 0px;
		color: $secondary;
		@media(max-width: '480px'){
			font-size: 0.8em;
		}
	}
}