@import '../../../styles/utilities/variables.scss';

.logo{
	display: inline-block;
	width: 360px;
	height: 360px;

	@media(max-width: '600px'){
		width: 250px;
		height: 250px;
	}
}

.message{
	margin: 0px 0px 15px 0px;
	text-align: center;
	color: $secondary;
	font-weight: 300;
	font-size: 1.3em;
	composes: spanned from '../../../styles/utilities/settings.css';
	composes: lato from '../../../styles/utilities/settings.css';
}

.spanned{
	composes: spanned from '../../../styles/utilities/settings.css';
	text-align: center;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
	height: 100%;
}

.column{
	flex: 1;
	z-index: 1;
}

.main{
	margin: 0px 0px;
}

.link{
	font-weight:300;
	font-size: 1.1em;
	margin: 10px 0px;
	text-decoration: none;
	display: inline-block;
	padding: 0px 15px;
	composes: lato from '../../../styles/utilities/settings.css';
	composes: link_color from '../../../styles/utilities/settings.css';
}

.m-b-30{
	margin-bottom: 30px;
}

.black_text{
	color: #000;
}

@media(max-width: 991px){
	.welcome{
		font-size: 5em;
	}
	.message{
		font-size: 0.9em;
	}
	.link{
		font-size: 0.9em;
	}
}